html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #000;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:visited {
	color: #209ed3;
}

.tooltip {
	max-height: 200px;
	overflow-y: auto;
	font-size: 11px;
}
.tooltip table {
	border-spacing: 0;
	border-collapse: collapse;
}
.tooltip tr {
	line-height: 1.2;
}
.tooltip th {
	margin:0;
	padding:5px;
	text-align: left;
}

.tooltip td {
	padding:0;
	margin:0;
}